:root {
    /*--main-color: #002f4c;        */
    --main-color:#003f66;
    --triada1: #59a96a;
    --triada2: #ffae42;
    --complementario: #de232f;
    --tono-oscuro: hsl(203, 100%, 15%);
    --tono-claro: #0070b6;
    --background: #f5f7f5;
    --fuente: #1d201d;
}
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    background-color: var(--background);
    margin: 0;
    font-family: 'Lora DejaVu Serif';
    font-size: 16px;
    /*background-color: whitesmoke;*/
    color: var(--fuente);
}


pre{
    font-family: 'Lora DejaVu Serif';
    font-size: 12px;
    background-color: var(--tono-oscuro);
    color: var(--background);
    padding: 10px;
    font-weight: bold;
}

header  {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);   
}

header h1 {
    
}

.menu-sup {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
}

.menu-sup li {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    color: var(--font);
}

.menu-sup li a {
    color: var(--tono-claro);
}

section {
    margin-top: 1em;   
    margin-bottom: 1em;
}

article {
    font-family: 'Lora DejaVu Serif';
    font-size: 16px;

    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer {

    background-color: var(--fuente);
    color: var(--background);
    height: 0.5in;
    justify-content: center;
    display: flex;
    align-items: center;
}

h1 a{
    color: white;
}

h1 a:hover{
    color: white;
    text-decoration-line: none;
}


h1 {
    font-size: xx-large;
}

p {
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color:var(--main-color);
}

a:hover {
    text-decoration-line: underline;
    color: var(--tono-claro);
}

h1, h2, h3, h4, h5, h6 {
    color:var(--main-color);    
}

figure {
    text-align: center;
}
figure img {
    max-width: 100%;
    display: block;
    margin: auto;
}

figure figcaption {
    font-style: italic;
    color: var(--tono-oscuro);
}

textarea {
    width: 100%;
    height: 10rem;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid var(--tono-claro);
    margin: 1.5em 10px;
    padding: 0.5em 30px;
    quotes: "\201C""\201D""\2018""\2019";
    text-align: left;
}

blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.autor {
    color: var(--main-color);
}

.categorias {
    color:var(--main-color);
}

.cabecera {
    border: 1px solid white;
    background-color: white;
    
}

.info-cabecera {
    font-size: small;
}
.titulo-cabecera {
    color: var(--tono-claro);
}

.resumen {
    border-left: solid var(--tono-claro) 0.35em;
}
.info-resumen {
    background-color: white;
    border: none;
}

.negritas {
    font-weight: bold;
}

.cursivas {
    font-style: italic;
}

.p-siguiente, .p-anterior {
    background-color: var(--tono-claro);
    color: var(--background);
    display: inline-block;
    border: solid 1px;
    border-color: var(--tono-claro);
    padding: 5px;
    margin: 5px;
}

.p-siguiente > a, .p-anterior > a {
    text-decoration: none;
    color:var(--background);
    
}

.p-siguiente > a:hover   {
    text-decoration: none;
    color:var(--background);
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--tono-oscuro);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header h1 {
        text-align: center;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    header h1 {
        text-align: center;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    #entradas {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    header h1 {
        text-align: left;
        
        margin-left: 1em;
        margin-right: auto;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    #entradas {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        
    }
    header h1 {
        text-align: left;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
     #entradas {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
     }
     header h1 {
        text-align: left;
         max-width: 900px;
         margin-left: auto;
         margin-right: auto;
     }
 }

